/* Initial Settings */
:root {
    /* 
    Exercise: Change DWC Custom Properties values
    Set the value of a DWC custom property here to affect the styling of your whole application
    */
}

/* Ensure that window content under .winMain takes up all available space */
.winMain dwc-window-content {
    width: 100dvw;
    height: 100dvh;
}

.winMain {
    display: flex;
    max-height: 100dvh;
}

.winTaskProperties dwc-window-content > * {
    width: 100%;
}

.task {
    display: grid;
    /* 
    Exercise: Grid layout
    Create a grid layout for your task views
    grid-template-columns: <space separated list of sizes indicating number of columns>
    grid-template-rows: <space separated list of sizes indicating number of rows>
    Create style classes for the controls that are on the grid, and assign grid: and column: 
    properties to place them in your grid.
    */
}


/* Exercise: padding on the window */
.winTasks {
    /* ensure that you can scroll the window */
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    gap: 1em;
    overflow-y: scroll;
    height: 100%;
}

/* Exercise: Center content in winTitle */
.winTitle {
    display: grid;
    /* flex-flow: column;
    align-items: stretch;
    justify-content: center; */
}





/* Centers dialogs */
dwc-frame {
    margin: auto;
}

/* 
Exercise: font size and weight for labelDay
- use class .labelDay
- use DWC custom properties:
--dwc-font-size-xl, --dwc-font-size-l
--dwc-font-weight-bold 
*/
.labelDay {
    font-size: var(--dwc-font-size-xl);
    font-weight:  var(--dwc-font-weight-bold);
}

/* 
Exercise: background color for winToolBar

 */

 .winToolBar {
    max-width: 100%;
    display: flex;
    flex-flow: row;
    align-items: center;
    padding: var(--dwc-space-xs) var(--dwc-space);
    gap: var(--dwc-space) var(--dwc-space);
    background: hsl(var(--dwc-color-primary-h), 25%, 90%);
    width: 100%;
    justify-content: end;
}

/*
Exercise: Inspecting the page
There is a DWC element that covers the whole screen when the TaskProperties window opens.
What is it called?
Create a CSS style targeting that element, and change its background color */
/* 
Answer: 
dwc-dialog-glass-pane {
    background: var(--dwc-overlay-background);
} 
*/

/* 
Exercise: Media Queries
Change some aspect of your CSS when the width is below/above a certain size

@media (width <= value) {
    <css here>
}
*/

.task .dueNotice {
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s, visibility 1s;
    transition-delay: 2s;
}

.task:hover .dueNotice {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
}