/* The CSS file that accompanies the TaskApp DWC application */

/* The TaskApp's CSS custom properties       */
/* ========================================  */
:root {
    --app-color-h: 15;
    --app-color-s: 75%;
    --app-color-b: 35%;
    --app-color-primary: hsl(var(--app-color-h), var(--app-color-s), var(--app-color-b));
    --app-color-window-bg: hsl(0, 0%, 95%);
    --app-navbar-bg: hsl(var(--app-color-h), var(--app-color-s), 97%);
    --app-color-text-normal: hsl(0, 0%, 20%);
    --app-color-text-light: hsl(0, 0%, 40%);
    --app-color-text-faint:hsl(0, 0%, 60%);
}

/* Overriding the DWC's default CSS custom properties */
/* ========================================  */
:root {
    /* --bbj-color-primary-h: var(--app-color-h); */
    /* --bbj-color-default-s: 5%; */
    --bbj-space: 1em;
    --bbj-font-family: 'AR One Sans', 'Gabarito', 'K2D', 'Overlock', 'Encode Sans Semicondensed', 'Aller', 'Alatsi', 'Akrobat', var(--bbj-font-family-sans);
    --bbj-color-body-text: var(--app-color-text-normal);
  }

/* Global definitions for multiple controls  */
/* ========================================  */

/* Modify the entire DOM */
html, body, .BBjWindowManagerDesktop {
    background: var(--app-color-window-bg);
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

/* Modify ALL BBjButtons by setting their color and font size & weight */
bbj-button::part(label) {
    /* color: var(--app-color-primary); */
    font-size: var(--bbj-font-size-l);
    font-weight: var(--bbj-font-weight-semibold);
}

/* Layout                                    */
/* https://vue-grid-generator.netlify.app/
{"areas":[["winNavBar","winToolBar"],["winNavBar","winTitle"],["winNavBar","winTasks"]],"columns":["5em","1fr"],"rows":["3em","10em","1fr"],"gridWidth":"100%","gridHeight":"100%"}
*/
/* ========================================  */

.BBjSimpleWindow {
    width: 100%;
    height: 100%;
}

.winMain {
    display: flex;
}

.winMain .BBjPanel {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-areas: 'winNavBar winToolBar' 'winNavBar winTitle' 'winNavBar winTasks';
    grid-template-columns: 10em 1fr;
    grid-template-rows: 3em 4em 1fr;
}

.winToolBar, .winTitle, .winTasks {
    max-width: 20em;
    margin: 0 auto;
}

.winNavBar {
    grid-area: winNavBar;
    background-color: var(--app-navbar-bg);
    border-right: 1px solid hsl(var(--app-color-h), var(--app-color-s), 92%) !important;
    padding: var(--bbj-space);
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
}

.winToolBar {
    grid-area: winToolBar;
    max-width: 100%;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-evenly;
    padding: var(--bbj-space);
    gap: var(--bbj-space) var(--bbj-space);

    /* This keeps the buttons together and centers them on the display */
    /* width: fit-content;
    justify-content: space-evenly; */

    /* This keeps the buttons on the far right edge of the display */
    width: 100%;
    justify-content: end;
}

.winTitle {
    grid-area: winTitle;
    display: flex;
    flex-flow: column;
    align-items: stretch;
    justify-content: center;
}
.winTasks {
    grid-area: winTasks;
    overflow: auto;
}


/* NavBar Items */
.nav_item {
    width: 100%;
}
.nav_user_name {
    height: 2em;
    line-height: 2em;
    text-indent: 2.3em;
}
.nav_user_name::before {
    position: absolute;
    top: var(--bbj-space);
    left: var(--bbj-space);
    width: 2em;
    height: 2em;
    background: var(--app-color-primary);
    border-radius: 100%;
    text-indent: 0.35em;
    line-height: 2em;
    color: var(--bbj-color-white);
    font-weight: 700;
}


/* Task Property Sheet Styling */
.BBjTopLevelWindow.BBjDialog {
    margin: auto;
}

.winTaskProperties .BBjPanel {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    max-width: 40vw;
    padding: var(--bbj-space-l);
    gap: var(--bbj-space-m);
}

.winTaskProperties .BBjPanel .BBjControl {
    width: 100%;
}

.winTaskProperties .BBjPanel .BBjButton {
    flex: 1 1 auto;
    min-width: 10em;
    width: auto;
}

/* .winTaskProperties .BBjChildWindow {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    margin-top: 1em;
    padding: var(--bbj-focus-ring-width);
} */

.BBjDialogGlassPane {
    background-color: hsla(0, 0%, 0%, 0.5);
}

/* Task Styling */
/* ============ */

.task {
    max-height: 2em;
}
/* Task items that are incomplete */
.incomplete {
    background-color: lightgray;
}

/* Task items that are complete */
.complete {
    background-color: rgb(110, 161, 110);
    text-decoration: line-through;
}

/* Task items that are deferred */
.deferred {
    background-color: rgb(167, 151, 66);
}

/* Task items that are deferred */
.blocked {
    background-color: rgb(197, 124, 124);
}

/* Items that are clickable, and hovered over */
.clickable:hover {
    filter: brightness(80%);
}

.labelDay {
    font-size: 1.5em;
    font-weight: bold;
}
.labelDate {
    color: var(--app-color-text-light);
    font-size: 0.85em;
    font-weight: normal;
}

/* FAB Floating Action Button  */
/* ========================================  */
.btnAddTaskFAB {
    position: absolute;
    right: 1em;
    bottom: 1em;
    z-index: 1000;
    width: 3em;
    height: 3em;
}
.btnAddTaskFAB::part(control) {
    border-radius: 100em;
    box-shadow: 0 0.1em 0.5em hsla(0, 0%, 0%, 0.35);
}
.btnAddTaskFAB::part(label) {
    font-size: 200%;
}

/*  Toolbar Icons */
/* ========================================  */
.toolbar_icon::part(control) {
    background: transparent;
    color: var(--app-color-text-faint);
    transition: all 100ms ease;
    border-color: transparent;
    border-radius: 0.5em;
}
.toolbar_icon::part(control):hover {
    border-color: transparent;
    color: var(--app-color-text-normal);
}

.icon_reload.toolbar_icon::part(control) {
    color: var(--bbj-color-danger);
    opacity: 0.75;
    transition: all 0.1s ease-in-out;
}
.icon_reload.toolbar_icon::part(control):hover {
    opacity: 1.0;
    background: var(--bbj-color-danger);
    color: var(--bbj-color-white);
}