/* The CSS file that accompanies the TaskApp DWC application */


/* The TaskApp's CSS custom properties       */
/* ========================================  */
:root {
    --app-color-h: 15;
    --app-color-s: 75%;
    --app-color-b: 35%;
    --app-color-primary: hsl(var(--app-color-h), var(--app-color-s), var(--app-color-b));
    --app-color-window-bg: hsl(0, 0%, 95%);
}

/* Overriding the DWC's default CSS custom properties */
/* ========================================  */
:root {
    --bbj-color-primary-h: var(--app-color-h);
    --bbj-color-default-s: 5%;
    --bbj-font-family: 'AR One Sans', 'Gabarito', 'K2D', 'Overlock', 'Encode Sans Semicondensed', 'Aller', 'Alatsi', 'Akrobat', var(--bbj-font-family-sans);
}



/* Global definitions for multiple controls  */
/* ========================================  */

/* Modify the entire DOM */
html, body, .BBjWindowManagerDesktop {
    background: var(--app-color-window-bg);
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

/* Modify ALL BBjButtons by setting their color and font size & weight */
bbj-button::part(label) {
    color: var(--app-color-primary);
    font-size: var(--bbj-font-size-l);
    font-weight: var(--bbj-font-weight-bold);
}

/* Layout                                    */
/* https://vue-grid-generator.netlify.app/
{"areas":[["winNavBar","winToolBar"],["winNavBar","winTitle"],["winNavBar","winTasks"]],"columns":["5em","1fr"],"rows":["3em","10em","1fr"],"gridWidth":"100%","gridHeight":"100%"} 
*/
/* ========================================  */

.BBjSimpleWindow {
    width: 100%;
    height: 100%;    
}

.winMain {
    display: flex;
}

.winMain .BBjPanel{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-areas: "winNavBar winToolBar" "winNavBar winTitle" "winNavBar winTasks";
    grid-template-columns: 5em 1fr;
    grid-template-rows: 2em 2em 1fr;
  }
  
  .winNavBar {
    grid-area: winNavBar;
    background-color: burlywood;
  }
  .winToolBar {
    grid-area: winToolBar;
  }
  .winTitle {
    grid-area: winTitle;
  }
  .winTasks {
    grid-area: winTasks;
    overflow: auto;
  }

  .winToolBar, .winTitle, .winTasks {
    max-width: 20em;
    margin: 0 auto;
  }

  /* Task Property Sheet Styling */

  .BBjTopLevelWindow.BBjDialog {
    margin: auto;
  }

  .winTaskProperties .BBjPanel {
    display: flex;
    flex-flow: column;
    padding: var(--bbj-space-l);
    gap: var(--bbj-space-m);
  }

  .winTaskProperties .BBjChildWindow {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    margin-top: 1em;
  }

  .BBjDialogGlassPane {
    background-color: hsla(0,0%,0%,0.5);
  }

/* Task Styling */
/* ============ */

.task {
    max-height: 2em;
}
/* Task items that are incomplete */
.incomplete {
    background-color: lightgray;
}

/* Task items that are complete */
.complete  {
    background-color: rgb(110, 161, 110);
    text-decoration: line-through;
}

/* Task items that are deferred */
.deferred  {
    background-color: rgb(167, 151, 66);
}

/* Task items that are deferred */
.blocked  {
    background-color: rgb(197, 124, 124);
}

/* Items that are clickable, and hovered over */
.clickable:hover {
   filter: brightness(80%);
}

.labelDate {
    font-size: 1.5em;
    font-weight: bold;
}