/*  Task due today and past due badges              */
/* ================================================ */
.task .dueToday, 
.task .pastDue {
	color: var(--dwc-color-danger);
	white-space: nowrap;
	font-weight: 600;
}

/*  Priority flags and popup menus                  */
/* ================================================ */
.priority-0 {
	color: var(--dwc-color-black);
	opacity: 0.7;
    color: var(--dwc-color-black);
	opacity: .1;
}

/* Priority 1 is blue, so we'd typically use the DWC's primary color but since we allow the user */
/* to customize the primary color hue, then we have to force this to the default primary color hue */
.priority-5 {
	color: hsl(211, 100%, 40%);
    /* color: #2c80d4; */
}

.priority-4 {
	/* color: var(--dwc-color-success); */
	color: #47942f;
}

.priority-3 {
	color: hsl(55, 100%, 50%);
	/* color: #f5e102; */
}

.priority-2 {
	color: hsl(30, 100%, 50%);
	/* color: #f58402; */
}

.priority-1 {
	color: var(--dwc-color-danger);
	/* color: #f50202; */
}

.priority-transparent {
	color: transparent;
}

/* Indicator flag styling on task-list-view */
.task .priorityFlag {
	font-size: 1em;
	background-color: transparent;
}

.priority-flag::part(control):hover {
	color: inherit;
}