/* The CSS file that accompanies the TaskApp DWC application */


/* The TaskApp's CSS custom properties       */
/* ========================================  */
:root {
    --app-color-h: 15;
    --app-color-s: 75%;
    --app-color-b: 35%;
    --app-color-primary: hsl(var(--app-color-h), var(--app-color-s), var(--app-color-b));
    --app-color-window-bg: hsl(0, 0%, 95%);
}

/* Overriding the DWC's default CSS custom properties */
/* ========================================  */
:root {
    --bbj-color-primary-h: var(--app-color-h);
    --bbj-color-default-s: 5%;
    --bbj-font-family: 'AR One Sans', 'Gabarito', 'K2D', 'Overlock', 'Encode Sans Semicondensed', 'Aller', 'Alatsi', 'Akrobat', var(--bbj-font-family-sans);
}



/* Global definitions for multiple controls  */
/* ========================================  */

/* Modify the entire DOM */
html, body {
    background: var(--bbj-color-black);
}

/* Modify ALL BBjButtons by setting their color and font size & weight */
bbj-button::part(label) {
    color: var(--app-color-primary);
    font-size: var(--bbj-font-size-l);
    font-weight: var(--bbj-font-weight-bold);
}

/* Modify the Windows */
.BBjTopLevelWindow {
    overflow: hidden;
    border-radius: var(--bbj-border-radius-xl);
}




/* Settings Window and Controls               */
/* ========================================  */
.winSettings .BBjPanel {
    display: flex;
    flex-flow: column;
    align-items: start;
    justify-content: flex-start;
    padding: var(--bbj-space-m);
    gap: var(--bbj-space-xl);
    background-color: var(--app-color-window-bg);
    min-width: 300px;
}

/* The title of the settings window */
.settingsTitle {
    width: 100%;
    font-size: var(--bbj-font-size-xl);
    font-weight: var(--bbj-font-weight-semibold);
}

/* Settings [Done] Button */
bbj-button.settingsDone {
    position: absolute;
    right: var(--bbj-space-m);
    top: 0.65rem;
    align-self: end;
}

/* The chevron icons on setttings buttons */
bbj-icon.chevron {
    color: var(--bbj-color-gray-text);
    padding-right: 0;
}

/* The icons for the settings items that aren't chevrons */
bbj-icon.icon {
    color: var(--app-color-primary);
    margin-left: var(--bbj-space);
}

/* The title for each category or section in the settings screen */
.settingsCategoryTitle {
    color: var(--bbj-color-gray-30);
    font-size: 90%;
    font-weight: var(--bbj-font-weight-bold);
    margin-bottom: -15px;
}

/* The BBjChildWindow in the settings that contains controls for a single setting */
.settingsChildWindow, .task {
    background: var(--bbj-color-white);
    width: 100%;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    padding: var(--bbj-focus-ring-width);
    gap: var(--bbj-space) var(--bbj-space);
    border-radius: var(--bbj-border-radius-xl);
}

/* All BBjButtons on the settings window */
.winSettings bbj-button::part(control) {
    background: transparent;
    border-width: 0 !important;
}

/* The BBjButtons that display a chevron that bring up a setting */
.winSettings bbj-button:not(.settingsDone)::part(label) {
    text-align: right;
    font-weight: var(--bbj-font-weight-bold);
    padding-right: 0;
    padding-left: calc(2 * var(--bbj-space));
}

/* Task items that are incomplete */
.incomplete {
    background-color: lightgray;
}

/* Task items that are complete */
.complete  {
    background-color: rgb(110, 161, 110);
    text-decoration: line-through;
}

/* Task items that are deferred */
.deferred  {
    background-color: rgb(167, 151, 66);
}

/* Task items that are deferred */
.blocked  {
    background-color: rgb(197, 124, 124);
}

/* Items that are clickable, and hovered over */
.clickable:hover {
   filter: brightness(80%);
}