/*  Task due today and past due badges              */
/* ================================================ */
.task .dueToday, .task .pastDue {
	color: var(--dwc-color-danger);
	white-space: nowrap;
	font-weight: 600;
}

/*  Priority flags and popup menus                  */
/* ================================================ */
.priority-6 {
    color: var(--dwc-color-black);
	opacity: .1;
}

/* Priority 1 is blue, so we'd typically use the DWC's primary color but since we allow the user */
/* to customize the primary color hue, then we have to force this to the default primary color hue */
.priority-5 {
    color: #2c80d4;
	opacity: 1;
}

.priority-4 {
	color: #47942f;
	opacity: 1;
}

.priority-3 {
	color: #f5e102;
	opacity: 1;
}

.priority-2 {
	color: #f58402;
	opacity: 1;
}

.priority-1 {
	color: #f50202;
	opacity: 1;
}

.priority-transparent {
	color: transparent;
}

/* Indicator flag styling on task-list-view */
.task .priorityFlag {
	font-size: 1em;
	background-color: transparent;
}

.priority-flag::part(control):hover {
	color: inherit;
}