/* The CSS file that accompanies the TaskApp DWC application - Card View Layout */

.winTaskCardView {
	margin-top: 1em;
	display: flex;
	/* flex-wrap: wrap; */
 	justify-content: center;
}

.winCardTasks {
  	display: flex;
  	padding-top: 30px;
  	justify-content: space-evenly;
  	flex-direction: row;
  	flex-wrap: wrap;
  	gap: 30px;
  	overflow: scroll;
  	max-width: fit-content;
  	padding-bottom: 130px;
}

.winCardView {
	/* background-color: var(--app-color-window-bg); */
	border: var(--dwc-color-gray-90);
	border-radius: 2em;
	max-width: 280px;
	min-width: 220px;
	/* max-height: 820px; */
	height: 320px;
	box-shadow: rgba(149, 157, 165, 0.2) 0 .5em 2em;
	display: grid;
	grid-template-columns: 1fr 5ch;
	grid-template-rows: min-content min-content 5em 9.3em 3em;
	padding: 1.4em;
	transition: all 300ms ease !important;
}

.winCardView:hover {
	transform: scale(0.95);
	box-shadow: 0 0 4px rgba(149, 157, 165, 0.2);
	cursor: pointer;
}

.winCardTask .complete {
	/* background-color: var(--app-color-window-bg); */
	border: transparent;
	border-radius: 2em;
	max-width: 280px;
	min-width: 220px;
	max-height: 320px;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	display: grid;
	grid-template-columns: 1fr 5ch;
	grid-template-rows: min-content min-content 5em 9.3em 3em;
	padding: 1.4em;
	transition: all 300ms ease !important;
	cursor: pointer;
}

.winCardView dwc-static-text {
    font-family: var(--app-font-task);
    font-weight: 500;
}

/* Title styling on task-Card-view */
.winCardView .textTitle {
	grid-column: 1 / 3;
	grid-row: 3;
	margin-top: 1.5em;
	justify-self: left;
	align-items: start;
	font-size: 18px;
	/* line-height: 1.4em; */
	text-wrap: wrap;
	height: auto;
	max-height: 3lh;
}

.winCardView .textStatus {
	grid-row: 2 / 2;
	grid-column: 1 / 1;
	padding-top: .2em;
	margin-bottom: -1em;
}

/* Indicator flag styling on task-list-view */
.winCardView .priorityFlag {
	justify-self: right;
	grid-column-start: 2;
	grid-row: 1 / span 2;
}

.btnSetComplete {
	justify-self: right;
	grid-row: 5;
}

.btnSetComplete::part(control) {
	padding: 0 10px;
	border-radius: 10px;
}

/* Trash can icon styling on Completed-task-list-view */
.btnDelete {
	justify-self: right;
	grid-row: 5;
	margin-right: -10px;
	--dwc-button-background: none;
	--dwc-button-border-color: transparent;
	--dwc-button-hover-background: none;
	--dwc-button-selected-background: none;
}

.btnDelete::part(control), .card-btn-delete-task::part(control):before {
	font-size: 15px;
	justify-self: right;
 	opacity: .6;
 	width: fit-content;
}

.btnDelete::part(control):hover {
	opacity: 1;
}

.btnLock, .btnLockOpen {
	margin-top: -7px;
	margin-right: -7px;
}

.winCardView .btnLock::part(control), .card-btn-lock::part(control):before {
	font-size: 15px;
	background-color: transparent;
	justify-self: right;
	color: var(--dwc-color-danger);
	opacity: .5;
	border: transparent;
	grid-column-start: 2;
	grid-row: 1 / span 2;
}

.winCardView .btnLockOpen::part(control), .card-btn-lock-open::part(control):before {
	font-size: 15px;
	background-color: transparent;
	justify-self: right;
	color: var(--dwc-color-success);
	opacity: .5;
	border: transparent;
	grid-column-start: 2;
	grid-row: 1 / span 2;
}

/* Description styling on task-list-view */
.winCardView .textDescription {
	grid-row-start: 4;
 	grid-column: 1 / 3;
   	height: 8.4em;
  	/* overflow: hidden; */
	color: hsla(var(--app-color-h), 15%, 50%);

	/* adds ellipsis to end of 6th line of paragraph - no full browser support of this feature yet */
	display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    /* overflow: auto;  */
    text-overflow: ellipsis;
	text-wrap: wrap;

	align-self: stretch;
}

.winCardView .dueDate {
	background-color: lightgray;
	width: fit-content;
	padding: 0.25em 0.5em;
	border-radius: .4em;
}

.winCardView .dueNotice {
	color: var(--dwc-color-danger);
	justify-self: left;
	white-space: nowrap;
	grid-row: 1 / 1;
	grid-column: 1 / 3;
	padding-top: 5px;
	display: flex;
}


/*  Task due today and past due badges              */
/* ================================================ */
.winCardView .dueToday {
	color: var(--dwc-color-danger);
	justify-self: left;
	white-space: nowrap;
	font-weight: 600;
}

.winCardView.blocked {
	background-color:rgba(197, 124, 124, .15);
}

.winCardView.deferred {
	background-color: rgba(149, 157, 165, 0.15);
}

.winCardView.complete {
	background-color: rgba(6, 209, 60, .15);
}

/* Task items that are complete */
.task.complete .textTitle {
    filter: opacity(0.65);
	text-decoration: line-through;
}